.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    min-width: 240px;
    height: 100%;
    z-index: 11;
    opacity: 1;
    visibility: visible;
    background: #171d26;
    transition: all 0.4s ease;
    box-shadow: 4px 4px 5px rgb(0 0 0 / 70%);
    border-radius: 0px 20px 0 0;


}

.side-bar-manu {
    // margin-top: 20px;
    position: relative;

    .nav-item {
        position: relative;
        display: block;
        transition-duration: .25s;
        margin-left: 30px;
    }
}
.side-bar-logo {
    margin: 50px 0;
}

.navigation {
    position: relative;
    height: 700px;
    width: 300px;
    background-color: rgba(33, 33, 33, 1);
    overflow-x: hidden;
    transition: width 0.5s;
    border-radius: 0 20px 20px 0;

    ul {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-left: 25px;
        padding-top: 20px;

        li {
            position: relative;
            list-style: none;
            width: 90%;
            border-radius: 50px 0 0 50px;
            margin-left: 10%;
            margin-top: 10px;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 11%;
                width: 17%;
                height: 80%;
                background: rgba(206, 206, 206, 1);
                border-radius: 50px;
                transform: translate(-50%, -50%);
                transform-origin: left;
                z-index: 0;
                opacity: 0;
                transition: all .3s;
            }

            &.active::before {
                opacity: 1;
                transform: translate(-50%, -50%);
                width: 95%;
                left: 50%;
            }

            &.active {
                background: rgba(206, 206, 206, 1);

                a::before {
                    content: "";
                    position: absolute;
                    top: -30px;
                    right: 0;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    box-shadow: 15px 15px 0px rgba(206, 206, 206, 1);
                }

                a::after {
                    content: "";
                    position: absolute;
                    bottom: -30px;
                    right: 0;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    box-shadow: 15px -15px 0px rgba(206, 206, 206, 1);
                }

                .title {
                    color: rgba(28, 38, 47, 1);
                }

                .icon {
                    min-width: 40px;
                    background: rgb(112, 112, 112);
                    height: 40px;
                    border-radius: 50%;
                    transform: .4s;
                }
            }

            a {
                position: relative;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                text-decoration: none;
                width: 100%;
                height: 40px;
                color: #333;

                .icon {
                    // margin-left: 15px;
                    position: relative;
                    display: block;
                    line-height: 40px;
                    text-align: center;
                    // min-width: 40px;
                    // background: rgba(112, 112, 112, 1);
                    // height: 40px;
                    // border-radius: 50%; 

                }

                .title {
                    font-family: 'Neuton', serif;
                    position: relative;
                    display: block;
                    padding-left: 20px;
                    height: 60px;
                    line-height: 60px;
                    font-size: 16px;
                    font-weight: 500;
                    white-space: nowrap;
                    opacity: 0;
                    overflow: hidden;
                    color: #fff;
                }
            }
        }
    }
}


.main-navbar{
	position: relative;
    margin-left: 25px; 
}
.sidemenu {
    margin-top: 28px; 
    ul{

        li{
            list-style-type: none; 
            a{
                color: rgba(255,255,255,0.5);
                text-decoration: none;
                font-size: 15px;
                line-height: 45px;
                display: block;
                transition-duration:0.6s;
                transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
                position: relative;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 20px;
                .title {
                    font-family: 'Neuton', serif;
                    position: relative;
                    display: block;
                    padding-left: 20px; 
                    font-size: 16px;
                    font-weight: 500;
                    white-space: nowrap;
                    color: #fff;
                }
                .icon{
                    min-width: 45px;
                    position: relative;
                    display: block;
                    line-height: 40px;
                    height: 45px; 
                    text-align: center;  
                
                }
            }
           
            &.active {
                a{
                    color: #5161ce;
                    background-color: transparent;
                    transition: all 0.7s;
                    .icon{
                        min-width: 45px;
                        background: rgb(112, 112, 112);
                        border-radius: 50%;
                        height: 45px; 
                        transition-duration:0.6s;
                        transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
                    }
                }
            }
        }
    }
}


.sidemenu a:not(:only-child):after { 
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10%;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}

.sidemenu .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.selector-active{
	width: 100%;
	display:inline-block;
	position:absolute;
	height: 46px;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: rgb(57, 62, 70);
	border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.selector-active .top, 
.selector-active .bottom{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: rgb(57, 62, 70);
	right: 0;
}
.selector-active .top{
	top: -25px;
}
.selector-active .bottom{
	bottom: -25px;
}
.selector-active .top:before,
.selector-active .bottom:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #171d26; 
}
.selector-active .top:before{
	left: -25px;
	top: -25px;
}
.selector-active .bottom:before{
	bottom: -25px;
	left: -25px;
}